.landingContent{
    background: rgb(118 118 197 / 0%);
box-shadow: 0 8px 32px 0 rgb(0 0 0 / 56%);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin-left: 5%;

}

.row{
    padding: 20px;
}